.contact-section {
  padding: 2rem;
  text-align: center;
  color: #ffffff; /* Set text color to white */
}

.contact-form {
  max-width: 100%; /* Allow form to take full width on mobile */
  margin: 0 auto;
  background-color: #333; /* Dark background for contrast */
  padding: 2rem;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

textarea {
  height: 100px; /* Set a height for the textarea */
}

.submit-button {
  background-color: #646cff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.submit-button:hover {
  background-color: #535bf2;
  transform: translateY(-2px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 1s ease-in-out forwards;
}

@media (max-width: 768px) {
  .contact-form {
    padding: 1rem; /* Reduce padding on smaller screens */
  }
}
