#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove padding */
}

nav li {
  display: inline; /* Display links inline */
  margin-right: 20px; /* Space between links */
  cursor: pointer; /* Change cursor to pointer on hover */
}

nav li.active {
  font-weight: bold; /* Make the active link bold */
  text-decoration: underline; /* Underline the active link */
}

.project-list {
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Allow wrapping of items */
  justify-content: center; /* Center items */
  margin: 2rem 0; /* Add spacing around project list */
}

.project {
  margin: 20px; /* Space between projects */
  text-align: center; /* Center text */
}

.project img {
  width: 100%; /* Make images responsive */
  max-width: 200px; /* Set a max width */
  border-radius: 10px; /* Rounded corners */
}
